{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section top-position1 bg-img cover-background left-overlay-secondary" data-overlay-dark="9" data-background="https://kargonhtml.websitelayout.net/img/bg/bg-01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-start">
                            <div class="position-relative">
                                <h1>Portfolio Standard</h1>
                            </div>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Portfolio Standard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PORTFOLIO STYLE 1
        ================================================== -->
        <section>
            <div class="container">
                <div class="mb-1-9 mb-md-5 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span class="text-primary display-30 pb-3 text-uppercase lh-1 font-weight-700 mb-1 d-block">01 _ gallery</span>
                    <h2 class="ls-minus-2px display-5 font-weight-800 lh-1 mb-0">Our portfolio</h2>
                </div>
                <div class="row">
                    <div class="filtering col-sm-12 text-center">
                        <span data-filter='*' class="active">All</span>
                        <span data-filter='.warehouse'>Warehouse</span>
                        <span data-filter='.transport'>Transport</span>
                        <span data-filter='.logistic'>Logistic</span>
                        <span data-filter='.freight'>Freight</span>
                    </div>
                </div>
                <div class="row portfolio-gallery-isotope mt-n2-9">
                    <div class="col-md-6 col-lg-4 mt-2-9 warehouse wow fadeInUp" data-wow-delay="200ms" data-src="img/portfolio/portfolio-01.jpg" data-sub-html="<h4 class='text-white'>Transfox Company #01</h4><p>Warehouse</p>">
                        <div class="portfolio-style-01">
                            <div class="position-relative">
                                <div class="position-relative">
                                    <img src="https://kargonhtml.websitelayout.net/img/portfolio/portfolio-01.jpg" alt="...">
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-icon-box">
                                            <a href="portfolio-single.html"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <h6 class="font-weight-500">Warehouse</h6>
                                    <h4 class="mb-0"><a href="portfolio-single.html" class="portfolio-link">Transfox Company</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 transport wow fadeInUp" data-wow-delay="200ms" data-src="img/portfolio/portfolio-02.jpg" data-sub-html="<h4 class='text-white'>Special Transport #02</h4><p>Transport</p>">
                        <div class="portfolio-style-01">
                            <div class="position-relative">
                                <div class="position-relative">
                                    <img src="https://kargonhtml.websitelayout.net/img/portfolio/portfolio-02.jpg" alt="...">
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-icon-box">
                                            <a href="portfolio-single.html"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <h6 class="font-weight-500">Transport</h6>
                                    <h4 class="mb-0"><a href="portfolio-single.html" class="portfolio-link">Special Transport</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 logistic wow fadeInUp" data-wow-delay="200ms" data-src="img/portfolio/portfolio-03.jpg" data-sub-html="<h4 class='text-white'>Air Transportation #03</h4><p>Air</p>">
                        <div class="portfolio-style-01">
                            <div class="position-relative">
                                <div class="position-relative">
                                    <img src="https://kargonhtml.websitelayout.net/img/portfolio/portfolio-03.jpg" alt="...">
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-icon-box">
                                            <a href="portfolio-single.html"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <h6 class="font-weight-500">Air</h6>
                                    <h4 class="mb-0"><a href="portfolio-single.html" class="portfolio-link">Air Transportation</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 freight wow fadeInUp" data-wow-delay="200ms" data-src="img/portfolio/portfolio-04.jpg" data-sub-html="<h4 class='text-white'>Logistic Service #04</h4><p>Logistic</p>">
                        <div class="portfolio-style-01">
                            <div class="position-relative">
                                <div class="position-relative">
                                    <img src="https://kargonhtml.websitelayout.net/img/portfolio/portfolio-04.jpg" alt="...">
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-icon-box">
                                            <a href="portfolio-single.html"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <h6 class="font-weight-500">Logistic</h6>
                                    <h4 class="mb-0"><a href="portfolio-single.html" class="portfolio-link">Logistic Service</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 logistic wow fadeInUp" data-wow-delay="200ms" data-src="img/portfolio/portfolio-05.jpg" data-sub-html="<h4 class='text-white'>Ship Transportation #05</h4><p>Ship</p>">
                        <div class="portfolio-style-01">
                            <div class="position-relative">
                                <div class="position-relative">
                                    <img src="https://kargonhtml.websitelayout.net/img/portfolio/portfolio-05.jpg" alt="...">
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-icon-box">
                                            <a href="portfolio-single.html"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <h6 class="font-weight-500">Ship</h6>
                                    <h4 class="mb-0"><a href="portfolio-single.html" class="portfolio-link">Ship Transportation</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-2-9 freight wow fadeInUp" data-wow-delay="200ms" data-src="img/portfolio/portfolio-06.jpg" data-sub-html="<h4 class='text-white'>Ocean Freight #06</h4><p>Transport</p>">
                        <div class="portfolio-style-01">
                            <div class="position-relative">
                                <div class="position-relative">
                                    <img src="https://kargonhtml.websitelayout.net/img/portfolio/portfolio-06.jpg" alt="...">
                                    <div class="portfolio-overlay">
                                        <div class="portfolio-icon-box">
                                            <a href="portfolio-single.html"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-content">
                                    <h6 class="font-weight-500">Transport</h6>
                                    <h4 class="mb-0"><a href="portfolio-single.html" class="portfolio-link">Ocean Freight</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}